
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap
@import "bower_components/font-awesome/scss/font-awesome";



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: Megrim;
    src: url('../fonts/Megrim.ttf');
}
body {
    color: #fff;
}
.banner {
    min-height: 500px;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;
    overflow: hidden;
}
.banner .header .left {
    font-family: Megrim;
    color: #fff;
}
.banner .header .left a.logo {
    font-size: 46px;
    margin-bottom: 0;
    border-bottom: solid 1px #fff;
    line-height: 46px;
    color: #fff;
    text-decoration: none;
}
.banner .header .left p:last-child {
    margin-top: 0;
    font-size: 14px;
}
.banner .header .right {
    position: relative;
}
.banner .header .right .user,
.banner .header .right .logged {
    color: #fff;
    display: block;
    font-size: 16px;
    position: absolute;
    right: 100px;
    top: 11px;
    width: 200px;
    cursor: pointer;
}
.banner .header .right .user p {
    margin: 0;
    line-height: 16px;
}
.menu-bar {
    display: inline-block;
    cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
    border-radius: 2px;
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.banner .welcome {
    margin-top: 50px;
    color: #fff;
    position: relative;
}
.banner .welcome h3 {
    font-size: 100px;
    font-family: Megrim;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3), -2px 2px 2px rgba(0, 0, 0, .3);
}
.decoration-line {
    position: relative;
}
.banner .welcome .decoration-line:before {
    content: '';
    width: 50px;
    height: 1px;
    display: block;
    background-color: #fff;
    position: absolute;
    left: calc( 50% - 200px);
    top: 10px;
}
.banner .welcome .decoration-line:after {
    content: '';
    width: 50px;
    height: 1px;
    display: block;
    background-color: #fff;
    position: absolute;
    right: calc( 50% - 200px);
    top: 10px;
}
.banner .welcome h3 {
    margin-bottom: 20px;
}
.banner .welcome a.elf-button {
    border: solid 1px #fff;
    text-decoration: none;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}
.info,
.categories,
footer {
    z-index: 999;
    background-color: #5d4037
}
.info p {
    margin-top: 20px;
    color: rgba(255, 255, 255, .7);
    display: inline-block;
    width: 50%;
}
.info {
    padding-top: 80px;
    padding-bottom: 80px;
}
.cat-box {
    height: 200px;
    position: relative;
    overflow: hidden;
    padding: 0;
}
.cat-box figcaption {
    background-color: #3e2723;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}
.cat-box:hover figcaption {
    opacity: .7;
}
.cat-box figcaption p {
    line-height: 200px;
    font-weight: bold;
    font-size: 22px;
}
.cat-box img {
    height: 100%;
    width: 100%;
}
footer {
    padding-top: 100px;
    padding-bottom: 20px;
}
footer .logo {
    font-family: Megrim;
    color: #fff;
}
footer .logo p:first-child {
    font-size: 38px;
    margin-bottom: 0;
    border-bottom: solid 1px #fff;
    line-height: 46px;
    display: inline-block;
}
footer .logo p:last-child {
    margin-top: 0;
    font-size: 10px;
    display: block;
    width: 143px;
}
footer .copyright ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    font-size: 12px;
}
footer .copyright ul li {
    float: left;
    border-right: solid 1px #fff;
    padding: 0 10px;
}
footer .copyright ul li:first-child {
    padding-left: 0;
}
footer .copyright ul li:last-child {
    border-right: 0;
}
footer .social-logo {
    margin-left: 15px;
    width: 48px;
}
.fullscreen-menu {
    z-index: 999;
    content: '';
    display: none;
    top: calc(50% - 40vh);
    left: calc(50% - 40vw);
    position: fixed;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, .8);
}
.login-modal {
    color: #000;
}
.modal-content {
    border-radius: 2px;
}
/* Link styles */

.login-modal a,
.login-modal a:visited,
.login-modal a:hover {
    color: #e74c3c;
    text-decoration: none;
}
.login-modal a:hover {
    color: #a05772;
}
/* Styles for buttons container */
/* Facebook */

.login-modal .fb-icon-bg {
    background: #354f88;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}
.login-modal .fb-icon-bg:after {
    display: block;
    padding: 9px 10px 5px 15px;
}
.login-modal .fb-bg {
    background: #3b5998;
    display: block;
    height: 37px;
    margin: 0 0 30px 41px;
    width: 166px;
}
.login-modal .fb-bg:after {
    color: #fff;
    content: "via facebook";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 8%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}
.login-modal .fb-bg:hover {
    cursor: pointer;
}
.login-modal .fb-bg:active {
    background: #354f88;
}
/* Twitter */

.login-modal .twi-icon-bg:after {
    display: block;
    padding: 11px 10px 6px 11px;
}
.login-modal .twi-icon-bg {
    background: #40a2d1;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}
.login-modal .twi-bg {
    background: #45b0e3;
    height: 37px;
    margin: 0 0 30px 41px;
    width: 166px;
}
.login-modal .twi-bg:after {
    color: #fff;
    content: "via twitter";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 11%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}
.login-modal .twi-bg:hover {
    cursor: pointer;
}
.login-modal .twi-bg:active {
    background: #40a2d1;
}
/* Google+ */

.login-modal .g-icon-bg:after {
    display: block;
    padding: 11px 10px 6px 13px;
}
.login-modal .g-icon-bg {
    background: #ce3e26;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}
.login-modal .g-bg {
    background: #de4c34;
    height: 37px;
    margin-left: 41px;
    width: 166px;
}
.login-modal .g-bg:after {
    color: #fff;
    content: "via google+";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 10%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}
.login-modal .g-bg:active {
    background: #ce3e26;
}
.login-modal .g-bg:hover {
    cursor: pointer;
}
.login-modal .modal-body {
    padding: 50px;
}
.login-modal .modal-body .left,
.login-modal .modal-body .right {
    height: 80%;
    padding: 0px;
}
.login-modal .modal-body .left {
    margin-top: 25px;
}
.login-modal .fb-icon-bg i,
.login-modal .twi-icon-bg i,
.login-modal .g-icon-bg i {
    font-size: 24px;
    line-height: 37px;
}
label {
    margin-bottom: 2px;
}
.form-group {
    margin-bottom: 7px;
}
.login-modal .radio,
.checkbox {
    margin-top: 0;
    margin-bottom: 5px;
}
.btn {
    height: 37px;
    border-radius: 0;
}
.login-modal .form-control {
    height: 37px;
    width: 207px;
    border-radius: 0;
}
.sign-up-button {
    margin-left: 10px;
}
.sign-up.modal-body {
    display: none;
    padding: 50px;
}
.sign-up.modal-body .left,
.sign-up.modal-body .right {
    margin-top: 0;
    margin-bottom: 30px;
    color: #000;
    font-family: sans-serif;
}
.fullscreen-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}
.fullscreen-menu ul li {
    margin-bottom: 20px;
}
.fullscreen-menu ul li a {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}
.fullscreen-menu ul li a:hover {
    color: rgba(255, 255, 255, .5);
}
.subview {
    background-color: #D7CCC8;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5D4037;
}
.content {
    min-height: 500px;
    border-left: solid 1px #3E2723;
    padding-left: 50px;
}
.content h3 {
    margin-top: 0;
}
.content .title {
    position: relative;
}
.content .title:after {
    left: -50px;
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    background-color: #3E2723;
}
.logged,
.logged ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.logged ul li {
    padding: 5px 15px;
    background-color: #fff;
}
.logged ul {
    display: none;
}
.logged>li:hover ul {
    display: block;
    position: relative;
    top: 10px;
}
.card-1 {
    box-shadow: -2px 2px 10px #888888;
}
.logged a {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}
.login-modal .login .not-yet-login {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.help-block {
    font-size: 10px;
    color: #ff0000;
}
.button-action {
    clear: both;
}
.btn-primary {
    color: #fff;
    background-color: #A1887F;
    border-color: #3E2723;
    border-radius: 0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #795548;
    border-color: #3E2723;
    border-radius: 0;
}
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle,
.btn-primary:focus,
.btn-primary.focus {
    background-color: #795548;
    border-color: #3E2723;
    border-radius: 0;
}
.form-control:focus {
    border-color: #D7CCC8;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(161, 136, 127, 0.6);
    border-radius: 0;
}
.panel-default {
    border-color: #D7CCC8;
    border-radius: 0;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: #fff;
    border-color: #D7CCC8;
    border-radius: 0;
}
.form-control {
    border: 1px solid #D7CCC8;
    border-radius: 0;
}
.not-yet-login {
    margin-bottom: 30px;
    color: red;
    font-weight: bolder;
}
.sidebar li > a{
    text-align: left;
    color: #795548;
}
.sidebar li ul {
    display: none;
}
.fa-ul {
    margin-left: 0;
}
.fa-li {
    position: static;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background: none;
}
.nav-pills > li.active,
.nav-pills > li.active,
.nav-pills > li.active {
    background: #3e2723;
}
.subview .content > hr {
    border-top: 1px solid #3e2723;
}
.subview .content .form-control {
    width: 70%;
}
.subview .sidebar li {
    text-align: left;
    margin: 0;
}
.fullscreen-menu ul li a {
    text-transform: uppercase;
}
.fullscreen-menu ul li a:hover {
    text-decoration: none;
}
.subview .content table td > img {
    width: 50px;
    height: 50px;
}
.avatar {
    width: 200px;
    height: 200px;
}
.subview .content table td:last-child{
    width: 20%;
}
.subview .content table td:last-child form {
    display: inline-block;
}
.subview .content form.delete-button {
    display: inline-block;
}
.subview .content table {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.subview .content table a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.subview .content .category-img {
    width: 200px;
    height: 200px;
}
body.error-page {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #B0BEC5;
    display: table;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}
.error-page .container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.error-page .content {
    margin-top: 200px;
    text-align: center;
    display: inline-block;
    min-height: 0; 
    border-left: none; 
    padding-left: 0; 
}
.error-page .title {
    font-size: 72px;
    margin-bottom: 40px;
    position: static;
}
.error-page .content .title:after {
    display: none;
}
#upload-photo {
    display: none;
}
.edit-photo-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.edit-photo-container p {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,.5);
    font-size: 10px;
}
.answer-container input {
    display: inline-block;
}
.form-control-static.answer {
    display: inline-block;
}
.form-control-static.answer span {
    color: #FF0000;
}
.answer-container input {
    display: inline-block;
}
.category-intro {
    padding: 20px 0;
    border-bottom: solid 1px #000;
}
.subview .content .search .form-control {
    width: 100%;
    border: none;
}
.subview .content .search .input-group-addon {
    padding: 0;
    border: none;
}
.subview .content .btn {
    height: auto;
    border: none;
    box-shadow: none;
    background: none;
}
.subview .content .wordlist {
    padding-top: 25px;
}

